:root {
    --primary-color: #1F2937;
    --secondary-color: #F9FAF8;
    --accent1-color: #E5E7EB;
    --accent2-color: #3882F6;
    --primary-font: Roboto, helvetica, sans-serif;
}

/* Change colors and make it responsive */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    line-height: 1.5;
    max-width: 1000px;
    margin: auto;
}

header,
.card1,
footer {
    background-color: var(--primary-color); 
    color: var(--secondary-color);   
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: none;
}

.logo {
    font-size: 28px;
    margin-left: 30px;
}

.links {
    font-size: 18px;
    margin-right: 30px;
}

.links a {
    text-decoration: none;
    color: var(--accent1-color);
    padding: 5px;
}

.card1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.hero-content {
    margin: 50px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
}

button {
    font-size: 18px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    text-align: center;
    margin-top: 10px;
    padding: .5rem 1.95rem;
    border: none;
    border-radius: .5rem;
}

.background {
    grid-column: 2 / 3;
    background-color: gray;
    color: var(--secondary-color);
    width: 450px;
    height: 250px;
    padding: 50px;
    margin: 50px;
}

.background p {
    text-align: center;
    padding: 50px;
}

.card2 {
    margin: 1rem;
    padding: 1rem;
}

.card2 h2 {
    font-size: 36px;
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: .5rem;
}

.small-card div {
    margin: 1rem;
    border: 1px solid var(--accent2-color);
    border-radius: .5rem;
    width: 150px;
    height: 150px;
}

.small-card p {
    margin-left: 1rem;
    padding-right: 3rem;
    text-align: center;
}

.card3 {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 10rem;
}

.card3 h3 {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    margin: .5rem;
    padding: .5rem;
}

.card3 p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.card4 {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 1rem;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    border-radius: .5rem;
    margin: 5rem;
    padding: 5rem;
}

.background1 {
    font-size: 18px;
    padding: 1rem;
}

.card4 button {
    width: 150px;
    height: 50px;
    padding: .5rem;
    margin: .5rem;
    grid-column: 2 / 3;
    border: 1px solid var(--secondary-color);
}

footer {
    padding: 2rem;
}

footer p {
    text-align: center;
    padding: .5rem;
}